
*,
*::before,
*::after {
	margin: 0;
	padding: 0;	
	box-sizing: inherit;
}
:root {
	--color-primary: #356F13;
}
html {
	font-size: 62.5%; /*1rem = 10px*/
}

body {
	box-sizing: border-box;
	font-family: 'Arimo', sans-serif;
}


.header {
	color: var(--color-primary);
	font-size: 2rem;
  	text-align: center;
}

.description{
	margin: 10% 30px;
	box-shadow: 1px 1px 10px red;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--color-primary);
	color: #fff;
}    
