header img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(.9);
}


section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  letter-spacing: 10px;
}

.bigpadding{
  padding: 0px;
}
.wt-btn_sign {
    font-size: 17px;
  font-family: 'roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -.21px;
    white-space: nowrap;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    line-height: 20px;  
    color: #f48ba2;
    background: #81f5ec;
    border: none;
    height: 45px;
    padding: 0 5px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.wt-btn_sign:hover {
    color: #81f5ec;
    background: #f48ba2;
    }

.wt-btn_sign-bound {
    display: block;
    overflow: hidden;
}

.wt-btn_sign-bound span {
    position: relative;
    display: inline-block;
  padding:0 22px;
        -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
        -moz-animation: wt-btn_sign-marquee 2s linear infinite;
        -o-animation: wt-btn_sign-marquee 2s linear infinite;
        animation: wt-btn_sign-marquee 2s linear infinite;
}

.wt-btn_sign-bound span:after {
        content:attr(data-text);
        position: absolute;
        left: 100%;
        padding: 0 23px;
    }

@-webkit-keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@-moz-keyframes wt-btn_sign-marquee {
    0% {
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -moz-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@-o-keyframes wt-btn_sign-marquee {
    0% {
        transform: translate3d(0,0,0)
    }

    100% {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}
