/* setting all spacing in the body to an equal starting point*/

body {
  margin: 0;
  padding: 0;
}

h1 {
  color:#585a28;
  box-shadow: 5px 10px;
}

.center {
  text-align: center;
}

.description{
	margin: 10% 30px;
	box-shadow: 1px 1px 10px grey;
	padding: 10px;
	border-radius: 10px;
	background-color:#585a28;
	color: #fff;
}    