body {
	margin: 0;
	padding: 0;
	display: flex;
}

.header {
	text-align: center;
}

h1 {
	color:#585a28;
    box-shadow: 5px 10px;
}

.container {
	display: flex;
    background-color: green;
    box-shadow: 1px 1px 10px grey;
    margin: 2% 18px;
    padding: 10px 5px 5px 10px;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dd {
	color: #24292E;
	font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	margin: 0px 0px 16px;
	font-size: 16px;
	padding: 0px 16px;
}

dt {
	color: #24292E;
	font: 16px;
	margin: 0px 0px 16px;
}

code {
 	color: #24292E;
 	font: 15px SFMono-Regular,Consolas;
 	background: rgba(27, 31, 35. 0.05);
 	padding: 3px 6px;
 	font-style: italic;
    font-weight: 600;
}

p {
	color: #24292E;
	font: 16px;
	margin: 0px 0px 16px;
}
